.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px ;

    width: 1440px;
    height: 383px;

    background: #EAF2FD;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1136px;
    height: 255px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.about__title{
    width: 137px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
   
    color: #464646;

    flex: none;
    order: 0;
    flex-grow: 0;
}
 .about__paragraph{
    width: 751px;
    height: auto;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    justify-items: baseline;
    
    
    color: #464646;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.about__container img{
    
    width: 140px;
    height: 52px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

@media screen and (max-width:768px){
    .about{
        padding: 32px;
        width: 704px;
        height: auto;
    }

    .about__container{
        width: 704px;
        height: 222px;
        align-self: stretch;
    }

    .about__title{
        width: 94px;
        font-size: 22px;
        line-height: 26px;
    }

    .about__paragraph{
        width: 704px;
        font-size: 14px;
        line-height: 16px;
    }

    .about__container img{
        width: 140px;
        height: 52px;
    }
}