
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1136px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.title__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1136px;
    height: 368px;
    flex: none;
    flex-grow: 0;
}

.title__imagen{
    height: 368px;
    width: 368px; 
    flex:none;
    order: 1; 
    flex-grow: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

 .title__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap:24px;
    width: 751px;
    flex: none;
    order:0;
    flex-grow: 0;
}

.title__bio{
    width:751px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    
    color: #464646;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title__subsection{
    width: 751px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title__network{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 467px;
    flex: none;
    order: 2;
    flex-grow: 0;
   
}

@media screen and (max-width:768px){

    .title{
        width: 768px;
    }
    .title__div{
        align-items: flex-start;
        width: 704px;
        height: 228px;
        order: 1;
    }

    .title__imagen{   
        width: 146px;
        height: 146px;
    }

    .title__container{
        width: 524px;
        gap:12px;
    }

    .title__bio{
        width: 524px;
        font-size: 22px;
        line-height: 26px;
    }

    .title__subsection{
        width: 524px;
        line-height: 19px;
        font-size: 16px;
    }
}

@media screen and (max-width:360px) {
    .title{
    width: 360px;
    }
    .title__div{
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: auto;
    }

    .title__imagen{
        width: 98px;
        height: 98px;
        padding: 16px;
    }

    .title__container{
        gap: 16px;
        width: 328px;
        order: 1;
        padding: 16px;
    
    }

    .title__bio{
        width: 328px;
        font-size: 22px;
        line-height: 26px;
    }

    .title__subsection{
        width: 328px;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
    }

    .title__network{
        gap: 6px;
        width: 328px;
    }
}