.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    width: 1136px;
    height: 88px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: auto;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__imagen{
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 642px;
    height: 19px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu__list__item{
    list-style-type: none;
    display: contents;
}

.menu .menu__list .menu__list__item .menu_item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#464646;

    text-decoration: none;
    text-transform: none;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu .menu__list .menu__list__item, .menu_item#activo{
    color:#333333;
    font-weight: bold;
}

.menu .menu__list .menu__list__item .menu_item:hover{
    text-decoration: underline;
}

@media screen and (max-width:768px){
    .menu{
        padding: 16px 32px;
        gap: 218px;
        width: 704px;
        height: 56px;
    }

    .menu__list{
        width: auto;
    }
    .menu__list__item:nth-child(1),
    .menu__list__item:nth-child(2),
    .menu__list__item:nth-child(3),
    .menu__list__item:nth-child(4),
    .menu__list__item:nth-child(5){
        display: none;
    }
}